$primary: rgb(7, 87, 7);
$secondary: #222222;
$highlight: rgb(253, 253, 86);
$light: rgb(245, 245, 245);

// Buttons
.navButton {
  display: block;
  position: absolute;
  cursor: pointer;
  right: 1rem;
  top: 2rem;
  background: transparent;
  border: 0;
  background-image: url(/camellia-pin-drawing.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 4rem;
  aspect-ratio: 1;
  z-index: 100;
}

.backButton {
  background-color: $highlight;
  border: 2px solid $light;
  border-radius: .25rem;
  color: $secondary;
  font-family:'Noto Serif KR', serif;
  height: 3rem;
  margin: 2rem;
  width: 5rem;
}

.backButton:hover {
  border: 2px solid $secondary;
  background-color: $primary;
  color: $light;
}

// Navbar
.nav {
  position: fixed;
  flex-direction: column;
  background: $secondary;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 50vw;
  z-index: 50;
  transition: transform 1000ms ease-in-out; 
}

.navItems {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: space-evenly;
  height: 85%;
  text-align: center;
}

.navItems a {
  color: $light;
  font-weight: 100;
  text-decoration: none;
}

//Header
.header {
  font-family: 'Nanum Brush Script', cursive;
  font-size: clamp(2rem, 5vw, 2.25rem);
  background-color: $primary;
  color: $light;
  max-height: 30vh;
  padding: 2rem;
  text-align: center;
  width: 100vw;
}

//Event Card
.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: .5rem;
  background-color: rgba(0,0,0,0.8);
  margin: 1rem 0;
  width: 50vw;
  max-width: 70%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventTitle {
  font-size: clamp(1.15rem, 5vw, 1.25rem);
  font-weight: 100;
  color: $light;
  margin: 1em 0;
  text-align: center;
}

.eventInfo {
  font-size: clamp(.75rem, 5vw, 1rem);
  font-weight: 100;
  color: $light;
  padding: 1rem 0 1rem 1rem;
}

.eventLink {
  color: $highlight;
  cursor: pointer;
  font-size: 1.1rem;
} 