$primary: rgb(7, 87, 7);
$secondary: #222222;
$highlight: rgb(253, 253, 86);
$light: rgb(230, 230, 230);

.eventWrapper {
  width: 100vw;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.eventCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.eventInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  background: rgba(0, 0, 0, 0.7);
  border-radius: .25rem;
  color: $light;
  margin: 0 auto;
  padding: 2rem;
}

.eventName {
  text-align: center;
}

.eventDate {
  text-align: center;
  margin: 1rem 0;
}

.eventCard h3 {
  font-size: 1.25rem;
  margin: .5em 0;
}

.eventActors > ul {
  margin-left: 1.5rem;
}

.eventStory > p {
  line-height: 1.5rem;
  margin: .5em auto;
}

.eventStory > ul {
  margin-left: 1.5rem;
}

.eventStory > hr {
  margin: 2rem auto;
}

.eventStory a {
  color: $highlight;
}