.centerContainer {
  padding: 0 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('/drawing-bg.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.eventList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}