$primary: rgb(7, 87, 7);
$light: rgb(245, 245, 245);

.wrapper {
  display: grid;
  grid-template-columns: 15em 1fr;
  grid-template-rows: 10em 1fr;
  grid-template-areas:
    "pageHeader pageHeader"
    "sidebar main";
}

// Page Header styles
.pageHeader {
  grid-area: pageHeader;
  background-color: $primary;
  text-align: center;
  font-family: 'Nanum Brush Script', cursive;
  font-size: clamp(2rem, 5vw, 2.25rem);
  color: $light;
}

// Sidebar styles
.sidePageMenu {
  grid-area: sidebar;
  position: sticky;
  background-color: $primary;
  color: white;
  overflow-x: hidden;
  text-align: center;
  height: 100vh;
  top: 0em;
}

.pageMenuLink {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0.75em auto;
}

.pageMenuDash {
  font-size: 1.25rem;
  font-weight: 100;
}

// Main styles
.pageInfo {
  grid-area: main;
}

.disclaimer {
  font-size: 0.9rem;
  font-weight: 100;
  margin: 1em;
  text-align: center;
}

.pageSection {
  margin: 1rem;
}

.pageSection p {
  line-height: 1.5em;
  margin: 1em auto;
}

.links {
  color: $primary;
  text-decoration: none;
}

// Media queries
@media screen and (max-width: 600px) {
 
}